@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;&display=swap');

:root{
--Red: hsl(0, 100%, 74%); 
--Green: hsl(154, 59%, 51%);
--Blue: hsl(248, 32%, 49%);
--Dark-Blue: hsl(249, 10%, 26%); 
--Grayish-Blue: hsl(246, 25%, 77%);
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background: url(images/bg-intro-mobile.png), var(--Red);
    background-size: contain;
    background-position: center center;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}

    main{
        max-width: 1440px;
        color: #fff;
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 30px 10%;
        /*justify-items: center;*/
    }

    .intro-sec, .form-sec{
        flex-basis: 50%;
    }

    form{
        background-color: #fff;
        margin: 15px auto;
        text-align: center;
        padding: 16px 26px;
        border-radius: 5px;
    }

    .btn{
        width: 100%;
        padding: 12px 20px;
        margin: 0 auto;
        text-align: center;
        background: var(--Blue);
        color: #fff;
        border-radius: 5px;
    }

    input[type=text], input[type=email], input[type=password]{
        width: 90%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=submit] {
        width: 90%;
        background-color: var(--Green);
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type=submit]:hover {
        background-color: var(--Green);
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
    }

    .intro-sec h1{
        font-weight: 700;
    }

    p{
        font-size: 16px;
        font-weight: 500;
    }

    .warning{
        color: rgba(204, 204, 204, 0.548);
    }

    span{
        color: var(--Red);
    }

    @media screen and (max-width: 375px){
        main{  
            flex-direction: column;
            padding: 30px 5%;
            height: max-content;
            text-align: center;
        }

        .intro-sec{
            padding-bottom: 15px;
        }
        
    }

    @media screen and (max-width: 650px){
        main{  
            flex-direction: column;
            padding: 30px 5%;
            height: max-content;
            text-align: center;
        }
        
    }

